<div class="columnify" hj-columnify="asset in vm.assets">

  <div class="asset" scroll-monitor scroll-monitor-offsets="{top: 3000}" scroll-monitor-callback="vm.scrollMonitorCallback($watcher, asset)">

    <a ui-sref="index.viewer({index: $index + 1})">

      <div class="asset__wrapper {{asset.schema}} {{asset.thumbnail.ratio >= 1 ? 'landscape' : 'portrait'}}">

        <div ng-if="asset.$show" class="fade__wrapper images-loaded">

          <img ng-if="asset.schema === 'image' || (asset.schema === 'video' && !$root.$isDesktop)" nopin="nopin" alt="{{asset.fields.description}}"
            ng-src="{{ vm.getImageSrc(asset) }}"
            ng-srcset="{{ vm.getImageSrcset(asset) }}"
            sizes="50vw">

          <div ng-if="asset.schema === 'video' && !$root.$isDesktop" class="icon icon-play"></div>

          <video ng-if="asset.schema === 'video' && $root.$isDesktop" Xonmouseenter="play()" Xonmouseleave="pause()" autoplay loop muted preload="auto" ng-attr-poster="{{$root.$helper.videoThumbnailUrl(asset.fields.videoClip)}}">
              <source ng-src="{{asset.fields.videoClip.metadata.zencoder.outputs.mp4Hd.url}}" type="video/mp4">
              <source ng-src="{{asset.fields.videoClip.metadata.zencoder.outputs.webmHd.url}}" type="video/webm">
          </video>

        </div>

      </div>

    </a>

  </div>

</div>

<div style="position: absolute; bottom: 0; left: 0; width: 100%; height: 300px; z-index: -9999; pointer-events: none" sm-scene duration="'100%'" trigger-hook="1"></div>

<div class="scroll-prompt" sm-class-toggle classes="'flip'" ng-click="vm.clickScrollPrompt($event)">
  <div class="flip__wrapper">
    <div class="icon icon-arrow-down"></div>
  </div>
</div>
