@import '../../../styles/common';

menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0 !important;
  -webkit-padding-start: 0;
  width: 28rem;
  height: 12rem;
  text-align: center;
  color: $white;
  user-select: none;
  z-index: 99;

  @include breakpoint(small only) {
    top: 2rem;
    bottom: auto;
    width: 100%;
    height: auto;
  }

  html.touch body[data-viewer-schema="video"] & {
    pointer-events: none;
  }

  .burger {
    position: absolute;
    top: 0.2rem;
    right: 2.5rem;
    height: 0.6rem;
    display: none;

    @include breakpoint(small only) {
      display: block;
    }

    span {
      position: absolute;
      top: 0;
      right: 0;

      @include sans;
      font-size: 1.2rem;

      &:nth-child(2) {
        top: 50%;
      }
      &:nth-child(3) {
        top: 100%;
      }
    }
  }

  .menu-wrapper {
    transition: opacity 500ms;

    &:not(.show-menu) {
      html:not(.touch) body.idle & {
        opacity: 0;
      }
    }

    html.touch body[data-viewer-schema="video"] & {
      opacity: 0 !important;
    }

    &.show-menu {
      h1, .burger {
        opacity: 0;
        transition-delay: 0s;
      }
      .table {
        opacity: 1;
        transition-delay: 0.2s;
      }

      &:not(.ng-animate) {
        .table {
          pointer-events: auto;
        }
      }
    }
  }

  a:focus:not(:active) {
    // outline: none;
    // box-shadow: none;
    // color: $black;
  }

  .table {
    position: absolute;
    top: 0;
    left: 0;

    .cell {
      @include breakpoint(small only) {
        vertical-align: top;
      }
    }
  }

  h1, .table, .burger {
    transition: opacity 0.2s 0.2s;
  }

  h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 12rem;

    @include breakpoint(small only) {
      line-height: 3rem;
    }
  }

  .table {
    opacity: 0;
    transition-delay: 0s;
    pointer-events: none;
  }

  h1, li {
    // -webkit-font-smoothing: antialiased;
    letter-spacing: 0.15em;

    html.touch & {
      text-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
  }

  li {
    line-height: 3rem;

    @include breakpoint(small only) {
      // display: inline-block;
      margin: 0 0.5rem;
    }

    @include breakpoint(xlarge) {
      line-height: 3.5rem;
    }

    &.active {
      // display: none;

      * {
        border-bottom: 1px solid currentColor;
      }
    }
  }

  li:nth-child(1) {
    [ui-view="overlay"][data-state*="index.portfolio"] &,
    [ui-view="overlay"][data-state*="viewer"] & {
      display: none;
    }
  }

  li:nth-child(2) {
    [ui-view="overlay"]:not([data-state*="viewer"]) & {
      display: none;
    }
  }

  li:nth-child(4) {
    [ui-view="overlay"]:not([data-state*="index.portfolio"]) & {
      // display: none;
    }
  }

}
