<div class="menu-wrapper"
  ng-mouseover="vm.showMenu = vm.demo ? false : true"
  ng-mouseleave="vm.showMenu = false"
  ng-class="{
    'idle': $root.idle,
    'show-menu': vm.showMenu,
    'demo': vm.demo,
  }"
>

  <h1 xxx-hj-shine>Universe Porn</h1>

  <div class="burger">
    <span>&mdash;</span>
    <span>&mdash;</span>
    <span>&mdash;</span>
  </div>

  <div class="table">

    <div class="cell">

      <ul>

        <li ui-sref-active="active">
          <a ng-focus="vm.showMenu = true" ng-blur="vm.showMenu = false" ui-sref="index.portfolio">
            <span xxx-hj-shine>Observations</span>
          </a>
        </li>

        <li ui-sref-active="active">
          <a ng-focus="vm.showMenu = true" ng-blur="vm.showMenu = false" ui-sref="index.portfolio">
              <!-- <span xxx-hj-shine>Back</span> -->
              <span xxx-hj-shine>Observations</span>
          </a>
        </li>

        <li ui-sref-active="active">
          <a ng-focus="vm.showMenu = true" ng-blur="vm.showMenu = false" ui-sref=".profile">
            <span xxx-hj-shine>Information</span>
          </a>
        </li>

        <li ui-sref-active="active">
          <a ng-focus="vm.showMenu = true" ng-blur="vm.showMenu = false" ui-sref="index.archive">
            <span xxx-hj-shine>Archive</span>
          </a>
        </li>

        <li ng-if="vm.fullscreenEnabled">
          <a ng-focus="vm.showMenu = true" ng-blur="vm.showMenu = false" ng-click="vm.toggleFullScreen()">
            <span xxx-hj-shine>{{ vm.isFullScreen ? 'Exit Fullscreen' : 'Fullscreen' }}</span>
          </a>
        </li>

      </ul>

    </div>

  </div>

</div>
