<div class="menu-wrapper" ng-mouseover="vm.showMenu = true" ng-mouseleave="vm.showMenu = false" ng-class="{
  'hidden': vm.hidden,
  'show-menu': vm.showMenu,
}">

  <h1 hj-shine>Universe Porn</h1>

  <div class="table">

    <div class="cell">

      <ul>

        <li ui-sref-active="active">
          <a ng-focus="vm.showMenu = true" ng-blur="vm.showMenu = false" ui-sref="index.portfolio">
            <span hj-shine>Observations</span>
          </a>
        </li>

        <li ui-sref-active="active">
          <a ng-focus="vm.showMenu = true" ng-blur="vm.showMenu = false" ui-sref="index.portfolio">
            <span hj-shine>Observations</span>
          </a>
        </li>

        <li ui-sref-active="active">
          <a ng-focus="vm.showMenu = true" ng-blur="vm.showMenu = false" ui-sref=".profile">
            <span hj-shine>Information</span>
          </a>
        </li>

        <!-- <li ui-sref-active="active">
          <a ng-focus="vm.showMenu = true" ng-blur="vm.showMenu = false" ui-sref="index.archive">
            <span hj-shine>Archive</span>
          </a>
        </li> -->

      </ul>

    </div>

  </div>

</div>
